name: Codecov report on push to the "main" branch
on:
  push:
    branches: [ main ]
jobs:
  coverage:
    name: Envtest and coverage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: './go.mod'
      - name: Run tests
        run: make test
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit-tests
          verbose: true
